.title {
    font-weight: 400;
    font-size: 45px;
    line-height: 61px;
    color: $orange;
}
.subtitle {    
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: $black;
    &-about {
        width: 424px;
        margin-top: 20px;
    }
    &-footer {
        margin-right: 11px;
    }
}