.header {
    height: 125px;
    &__wrapper {
        display: grid;
        grid-template: 1fr / 1fr 3fr;
        justify-items: start;
        height: 100%;
    }
    &__menu {
        position: relative;
        height: 100%;
        display: grid;
        grid-template: 1fr / repeat(4, 1fr);
        column-gap: 52px;
        align-items: center;
        justify-items: start;
        cursor: pointer;
        &-item {
            position: relative;
            &:before {
                content: '';
                position: absolute;
                bottom: -5px;
                width: 90%;
                height: 1px;
                background-color: $orange;
                transition: 0.4s all;
                opacity: 0;
            }
            &:hover {
                &:before {
                    opacity: 1;
                    width: 90%;
                }
            }
            &_active {
                &:before {
                    opacity: 1;
                    width: 40px;
                }
            }
        }
        
        
        
    }
}