.btn {
    border: 2px solid $orange;
    border-radius: 20px;
    background-color: transparent;
    width: 310px;
    height: 66px;    
    cursor: pointer;
    a {
        display: block;
        font-size: 35px;
        line-height: 48px;
        text-align: center;
        color: #FFDCC5;
    }
    
    &:hover {
        background-color: $orange
    }
    &_promo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 212px;
    }
    &_footer {
        width: 192px;
        height: 51px;
        margin-left: 146px; 
        margin-top: 27px;
        a {
            font-size: 20px; 
            display: block;
            text-align: center;
        }      
    }
}